<ngx-slick-carousel class="carousel"
                    #slickModal="slick-carousel"
                    [config]="slideConfig"
                    *ngIf="isLoading"
>

  <div ngxSlickItem
       class="slide item"
      *ngFor="let item of currentDishes"
  >
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="http://placehold.it/200/000000" alt="dish item">
      <mat-card-content>
        <p class="item__content">{{ item.description }}</p>
        <p class="item__content">{{ item.price |currency}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Заказать</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ngx-slick-carousel>

<!--<button (click)="slickModal.slickNext()">Next</button>-->
<!--<button (click)="slickModal.slickPrev()">Prev</button>-->
